/* Colors
********************/

/* Theme */
$color-primary:                 #aa0a40;
$color-secondary:               #35495e;



/* Typography */
$base-font-family:              'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
$base-font-size:                16px;
$base-font-weight:              400;

$heading-font-family:           'Quicksand', 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;